{% extends 'base.html' %}

{% block content %}


{%  for messege in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ messege }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}




    {% if name %}

        <h1> User Added!</h1>
        <br>
        {% for our_user in our_users %}
            {{ our_user.id }} {{ our_user.name }}
            <br>
        {% endfor %}

    {% else %}

        <h1>User List:</h1>
        <br>
        <form method="POST" class="form-lable">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-lable") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.username.label(class="form-lable") }}
            {{ form.username(class="form-control") }}
            <br>
            {{ form.email.label(class="form-lable") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-secondary") }}
        </form>

        <br><br><br>

        {% for our_user in our_users %}
            {{ our_user.id }}-{{ our_user.username }}
            <br>
        {% endfor %}

    {% endif %}


{% endblock %}