<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Our CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <style>

      #dragOverlay {
          position: absolute;
          pointer-events: none;
          background-color: rgba(0, 0, 0, 0.5);
          border: 2px dashed #fff;
      }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

    </style>
</head>



<body>

        <nav >

            <ul>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
              <li><a href="/test">Test</a></li>
            </ul>

        </nav>

        <div id="div1" style="position: absolute; width: 600px; height: 600px; top: 52px">

                <div id="dragOverlay"></div>
                <div id="myDiv" style=" top: 60px; left: 0px">
                    <img id="pic" draggable="false" src="/static/dataset2/images/{{ img_name }}" alt="" width="600px">
                </div>

        </div>

        <br>
        <button id="myButton">Next</button>



        <div id="formContainer" style="position: absolute; left: 601px; top: 52px">

          <select id="selectionForm" size="25">
            <optgroup label="Decay rate">
              <option value="0">0-Intact tooth</option>
              <option value="1">1-Fissure staining</option>
              <option value="2">2-Fissure caries</option>
              <option value="3">3-Mesial caries</option>
              <option value="4">4-Distal caries</option>
              <option value="5">5-Deep caries</option>
            </optgroup>
            <optgroup label="Tooth type/pos">
              <option value="6">6-Upper molar</option>
              <option value="7">7-Upper premolar</option>
              <option value="8">8-Upper incisor</option>
              <option value="9">9-Upper canine</option>
              <option value="10">10-Lower molar</option>
              <option value="11">11-Lower premolar</option>
              <option value="12">12-Lower incisor</option>
              <option value="13">13-Lower canine</option>
            </optgroup>
            </optgroup>
            <optgroup label="Tooth Surface">
              <option value="14">14-Buccal</option>
              <option value="15">15-Lingual</option>
              <option value="16">16-Mesial</option>
              <option value="17">17-Distal</option>
              <option value="18">18-Occlusal</option>
            </optgroup>
            </optgroup>
            <optgroup label="Classes of cavity">
              <option value="19">19-Class 1</option>
              <option value="20">20-Class 2</option>
              <option value="21">21-Class 3</option>
              <option value="22">22-Class 4</option>
              <option value="23">23-Class 5</option>
            </optgroup>
            <!-- Add more option groups as needed -->
          </select><br>
          <button id="submitButton" style="font-size: 16px">Apply Lable</button>
          <button id="resetButton" style="font-size: 16px; width: 65px">Reset</button>

        </div>

        <button id="submitAll" style="font-size: 16px; width: 165px; position: absolute;
           top: 650px; left: 0px">Submit</button>



        <div id="lableDiv" style="position:absolute; top: 52px; left: 770px; background: white; width: 600px; height: 600px">

                <img id="pic" draggable="false" src="/static/dataset2/images/{{ img_name }}" alt="" width="600px">

        </div>
        <div style="position:absolute; top: 52px; left: 770px; display: block; background-color: rgba(0, 0, 0, 0.5);">
            <h2 style="color: whitesmoke">Labled Pic</h2>
        </div>

</body>

        <script>
            var lable_info = [];
            var lable_pos = [];
            const button = document.getElementById('myButton');

            button.addEventListener('click', function() {
              window.location.href = '/dashboard';
            });

            const img = document.querySelector("#pic");
            const div = document.querySelector("#myDiv");
            const div1 = document.querySelector("#div1");
            const dragOverlay = document.querySelector("#dragOverlay");
            const labled_div = document.getElementById("lableDiv");



            div.style.backgroundColor = "grey";
            div.style.width = img.width +'px' ;
            div.style.height = img.height + "px";
            {#div1.style.height = img.height + "px";#}


            let startX, startY, endX, endY;

            div.addEventListener('mousedown', handleMouseDown);
            div.addEventListener('mouseup', handleMouseUp);

            var formContainer = document.getElementById("formContainer");
            var submitButton = document.getElementById("submitButton");
            var reset_button = document.getElementById("resetButton");
            var submit_all_button = document.getElementById("submitAll");

            submitButton.addEventListener("click", function() {
              var selectedValue = document.querySelector('#selectionForm').value;
              dragOverlay.style.display = 'None';
              console.log("Selected value:", selectedValue);
              var tp = [lable_pos, parseInt(selectedValue)];
              if (tp[1]){
                  lable_info.push(tp);
              };

              if (lable_info.length > 1){

                  var info_0 = lable_info.slice(-1);
                  var info_1 = lable_info.slice(-2);

                  if (info_0[0][0] == info_1[0][0]){
                      lable_info.pop();
                  }

              }


              console.log(JSON.stringify(lable_info));
              for (var i = 0; i<lable_info.length; i++){


                var scrollLeft = document.documentElement.scrollLeft;
                var scrollTop = document.documentElement.scrollTop;
                x_s = lable_info[i][0][0] + scrollLeft;
                y_s = lable_info[i][0][1] + scrollTop;
                x_e = lable_info[i][0][2] + scrollLeft;
                y_e = lable_info[i][0][3] + scrollTop;

                createTransparentDiv(width=Math.abs(x_e-x_s),
                                    height=Math.abs(y_e-y_s),
                                    top=y_s + labled_div.getBoundingClientRect().top,
                                    left=x_s + labled_div.getBoundingClientRect().left,
                                    name="lable_div");

                createTextDiv(y_s + labled_div.getBoundingClientRect().top,
                            x_s + labled_div.getBoundingClientRect().left + 5,
                            lable_info[i][1]);
              }

            });

            reset_button.addEventListener("click", function (){
                lable_info = [];
                var divs = document.querySelectorAll("lb_div");
                divs.forEach(function (div){
                    div.parentNode.removeChild(div);
                })
            });

            submit_all_button.addEventListener("click", function (){

                var lable_loc_yolo_format = []
                for (var i=0; i < lable_info.length; i++) {

                    const w_image = img.width;
                    const h_image = img.height;
                    lable_loc_yolo_format.push([lable_info[i][1],
                                                        yoloFormat(lable_info[i][0][0],
                                                        lable_info[i][0][1],
                                                        lable_info[i][0][2],
                                                        lable_info[i][0][3])]);
                };

                console.log(lable_loc_yolo_format[0]);

                var data = {
                    "lable_data": lable_loc_yolo_format,
                    "img_name": "{{ img_name }}"
                };



                fetch(`${window.origin}/get_labled_data`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(data),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })

                .then(function (response){
                    if (response.status !== 200) {
                        console.log(`Response status was not 200: ${response.status}`);
                        return ;
                    }
                    response.json().then(function (data){
                        console.log(data);
                    });
                });

            });


            function yoloFormat(xStart, yStart, xEnd, yEnd){
                const X0 = (xStart + (xEnd - xStart)/2) / img.width;
                const Y0 = (yStart + (yEnd - yStart)/2) / img.height;
                const W = (xEnd - xStart) / img.width;
                const H = (yEnd - yStart) / img.height;
                console.log(X0, Y0, W, H);
                return ([X0, Y0, W, H]);
            }

            function createTransparentDiv(width, height, top, left, opacity=0, name="lb_div") {
                var div = document.createElement(`${name}`);
                div.id = `${name}`;
                div.style.position = "absolute";
                div.style.width = width + "px";
                div.style.top = top + "px";
                div.style.height = height + "px";
                div.style.left = left + "px";
                div.style.backgroundColor = "rgba(0, 0, 0, " + opacity + ")";
                div.style.border = "4px dashed #51ef0c";
                document.body.appendChild(div);
            }
            function createTextDiv(top, left, txt){
                var divElement = document.createElement("lb_div");
                var textNode = document.createTextNode(`${txt}`);
                divElement.style.color = "white";
                divElement.id = "lb_div";
                divElement.style.position = "absolute";
                divElement.style.top = top + "px";
                divElement.style.left = left + "px";
                divElement.appendChild(textNode);
                document.body.appendChild(divElement);
            }




            function handleMouseDown(event) {
                var rect = event.target.getBoundingClientRect();
                var scrollLeft = document.documentElement.scrollLeft;
                var scrollTop = document.documentElement.scrollTop;
                startX = event.clientX + scrollLeft;
                startY = event.clientY + scrollTop -52;


                // Set the initial position and dimensions of the overlay
                dragOverlay.style.left = startX + 'px';
                dragOverlay.style.top = startY + 'px';
                dragOverlay.style.width = '0';
                dragOverlay.style.height = '0';

                // Show the overlay
                dragOverlay.style.display = 'block';

                // Add event listener for mouse move
                div.addEventListener('mousemove', handleMouseMove);
            }


            // Handle mouse move event
            function handleMouseMove(event) {

                var rect = event.target.getBoundingClientRect();
                var scrollLeft = document.documentElement.scrollLeft;
                var scrollTop = document.documentElement.scrollTop;
                // Update the ending coordinates
                endX = event.clientX + scrollLeft;
                endY = event.clientY + scrollTop -52;


                // Calculate the dimensions of the dragged portion
                const width = Math.abs(endX - startX);
                const height = Math.abs(endY - startY);

                // Update the position and dimensions of the overlay

                dragOverlay.style.width = width + 'px';
                dragOverlay.style.height = height + 'px';
                dragOverlay.style.left = Math.min(startX, endX) + 'px';
                dragOverlay.style.top = Math.min(startY, endY) + 'px';


            }

            // Handle mouse up event
            function handleMouseUp() {
              // Hide the overlay
                const width = Math.abs(endX - startX);
                const height = Math.abs(endY - startY);

                if (width<30 && height<30) {
                dragOverlay.style.display = 'none';
                div.removeEventListener('mousemove', handleMouseMove);
                }


              lable_pos = [Math.min(startX, endX),
                           Math.min(startY, endY),
                           Math.max(endX, startX),
                           Math.max(endY, startY)];
              // Remove the mousemove event listener
              div.removeEventListener('mousemove', handleMouseMove);
            }

        </script>

</html>