<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
        <div>
            <img draggable="false" src="/static/dataset/pics/{{ img_name }}" alt="" width="400px">
            <br>
            <button id="myButton">Click Me</button>
        </div>

        <script>
            const button = document.getElementById('myButton');

            button.addEventListener('click', function() {
              window.location.href = '/';
            });
        </script>
</body>
</html>